* {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}


.navbar-menu{
  width: 100%;
  background-color: rgb(3, 18, 24);
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;

  display: flex;
  flex-direction: column;
}

.menu-items{
  padding: 1rem;
}

nav.navbar-menu li {
  padding: 20px;
  background-color: rgb(8, 21, 32);
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin-right: 40px;
}

a {
  text-decoration: none;
}

.carrito img {
  position: relative;
  left: 2595px;
  width: 70px;
  height: 60px;
  top: -80px;
}

.logo {
  position: relative;
  top: -22px;
  left: 116px;
}

.logo img {
  height: 60px;
  position: relative;
  width: 50px;
  right: 50px;
  top: 53px;
}

h1.nombre-logo {
  padding-top: 0;
  top: 0px;
  font-size: 40px;

}

/* termina los estilos del nav */


/*Expectativa carrusel */
.container-slider {
  padding-top: 120px;

  object-fit: cover;
  filter: brightness(0.6);
}

/* Box para la sección nosotros */
.contendorNosotros {
  background-color: rgba(0, 0, 0, 0.692);
  padding: 300px;
}

.contenedorCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 400px;
}

.contenedorTitles {
  display: flex;
  justify-content: space-between
}

.boxNosotros {
  display: flex;
  justify-content: space-around;
  background-image: url('../imagenes/Cards/primeraimg.avif');
  border-radius: 20px;
  background-size: 100% 100%;
  padding: 100px;
  overflow: hidden;
}

.boxNosotros ul li {
  display: flex;
  flex-direction: column;
}

.btnNosotros {
  border-radius: 8px;
  position: absolute;
  top: 1100px;
  left: 1029px;
  padding: 12px 73px;
  background-color: rgb(8, 21, 32);
  color: #fff;
  text-decoration: none;
}

/* Termina Box para la sección nosotros */

/* Secciones */
div.titulosSecciones {
  display: flex;
  padding: 10px 10px;
  margin: 10px;
}




/* estilos de login y registro */
.backgroundScreen {
  /*Carga una img del background. Lo pongo de esta manera para que me quede de fonde de los demas atributos.*/
  background-image: url('../Imagenes/Login/fondo2.jpg');
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-size: cover;
}

.recuperarPass {
  text-decoration: none;
}

.formLogin {
  height: 500px;
  width: 700px;
  background-color: hsla(193, 54%, 7%, 0.438);

  margin: auto;
  margin-top: 200px;
  padding: 140px 4cm;
  border-top: 0px solid rgb(0, 0, 5);
  color: #01080e;
  font-family: 'Beau';
}


.formLogin h1 {
  margin: 1px;
  text-align: center;
  height: 11px;
  margin-bottom: 30px;
  border-bottom: 1;
}

.cuentaExistente {
  padding-top: 17px;
  top: 10;
  padding-left: 142px;
}

.formLogin .recuperarPass {
  color: #11273a;
  height: 76px;
  text-align: center;
  padding: 33PX;
}

.formLogin p {
  color: #0f1318;
  height: 76px;
  text-align: center;
  padding: 33PX;
  border-bottom: 1px solid white;
}

.formLogin a {
  color: white;
  text-decoration: none;
  font-size: 14px
}

.formLogin a:hover {
  text-decoration: underline;
}

.controls {
  width: 400px;
  border: 1px red;
  margin-bottom: 15px;
  padding: 11px 10px;
  padding-left: 34px;
  background: #072d4d67;
  color: white;
}

#user {
  background-image: url("../Imagenes/Login/iconoUser.png");
  background-position: 3px;
  background-size: 28px;
  background-repeat: no-repeat;
}

#password {
  background-image: url("../Imagenes/Login/iconoPassword.png");
  background-position: 3px;
  background-size: 30px;
  background-repeat: no-repeat;
}

#email {
  background-image: url("../Imagenes/Login/icono_email.png");
  background-position: 3px;
  background-size: 30px;
  background-repeat: no-repeat;
}

.buttons {
  width: 200px;
  height: 30px;
  margin-left: 110px;
  background: #072d4d67;
  border: none;
  color: white;
}


/*Tipografias aplica las fuentes */
@font-face {
  font-family: 'Beau';
  src: url(../font/BeauRivage-Regular.ttf);
}



/*Box model*/
.box {
  background-color: cornflowerblue;
  height: 100px;
  width: auto;
  border-width: 0;
  border-style: solid;
  overflow: auto;
  display: block;
  /* se puede aplicar para imagenes */
  /* display: inline-block; */
}




/* Comienza el footer */

.footerContenedor {
  background-color: rgb(8, 21, 32);
  /* display: flex; */
  flex-direction: column;
  padding: 40px;
}

.logoFooter {
  position: relative;
  top: -20px;
  left: 60px;

}

.saltoLinea1 {
  border: none;
  height: 2px;
  background-color: #0e0303;
  margin: 20px 0;
}

.saltoLinea2 {
  border: none;
  height: 3px;
  background-color: #0e0303;
  margin: 20px 0;
}

.boxIdioma {
  padding-left: 1735px;
}

.tituloRedes.iconoContainer {
  display: flex;
  white-space: normal;
}

.tituloRedes {
  font-size: 40px;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  justify-content: space-evenly;
  padding-left: 505px;
}

.tituloRedes p {
  justify-content: space-between;
}


.iconoContacto {
  margin: 10px;
  width: 40px;
  height: 40px;
  padding-top: 41px;
}



.iconosRedes #contacto {
  width: 100px;
}


.tituloRedesContacto {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 40px;
  color: #007bff;
}

.tituloRedes p {
  color: #007bff;
}

.tituloRedes #contacto {
  padding-left: 650px;
}

.iconosRedes {
  margin: 10px;
  width: 40px;
  height: 40px;
}

.nombreLogoFooter {
  position: relative;
  top: -126px;
  font-size: 40px;
  left: 199px;
}

.logoFooter img {
  height: 106px;
  position: relative;
  width: 137px;
  right: -38px;
  top: -45px;
}


.form-container {
  width: 100%;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Este form container va a tener un style especifico. */
.form-container__titulo {
  font-style: italic;
}

.form-container__titulo--negrita {
  font-weight: 600px;
  text-transform: uppercase;
}

.form-contacto {
  width: 100%;
  max-width: 550px;
  margin-top: 45px;
  border-radius: 8px;
  border: 1.2px solid rgb(0, 0, 0);
  box-shadow: 5px 5px 10px rgb(10, 12, 160);
}

.form-box {
  /* background-color: rgb(56, 92, 10); */
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-box label {
  width: 120px;
}

.form-box input,
.form-box textarea {
  width: 70%;
  height: 25px;
  padding: 3px 5px;
  font-size: 16px;
}

.form-box textarea {
  height: 150px;
  resize: vertical;
  min-height: 150px;
  max-height: 300px;
}

/* Pseudoclases referentes a los input*/
.form-box input:focus,
.form-box textarea:focus {
  background-color: green;
  border-radius: 100px;
}

/* Esto hace un not focus a los elementos que el usuario no esta interactuando */
.form-box input:not(:focus),
.form-box textarea:not(:focus) {
  background-color: gray;
}

/* Me permite seleccionar determinado elemento que pertenezca a esta clase */
/* .form-box:nth-child(4){
  background-color: rgb(8, 3, 3);
} */

/* Aplica  a todos los contenedor impar el mismo estilo */
.form-box:nth-child(odd) {
  background-color: red;
}

.form-box:nth-child(even) {
  background-color: rgb(0, 110, 255);
}


/* Footer */
.pie-pagina {
  padding: 20px;
}

.pie-pagina a {
  font-size: 1.3rem;
}

.pie-pagina a:link {
  text-transform: uppercase;
}

.pie-pagina a:hover {
  text-transform: lowercase;
}




/* Termina el footer*/



@media screen and (max-width: 800px) {
  .contenedorGenerico {
    width: 100%;
  }
}




