@media screen and (min-width: $resolutionstandard) {

    #itemMobile,
    #itemMobile-Salir {
        display: none;
    }
}

@media screen and (min-width: $resolutionstandard) {

    .title__mobile,
    .perfil__user {
        display: none;
    }
}

@media screen and (min-width: $resolutionstandard) {
    .nav__container {
        transform: translateY(0);
    }

    .icono_menu {
        display: none;
    }
}


@media screen and (min-width: $resolutionstandard) {
    .nav__container {
        transform: translateY(0);
    }

    .icono_menu {
        display: none;
    }
}

@media screen and (max-width: $resolutionstandard) {
    .section__logo {
        display: none;
    }
}


@media screen and (max-width: $resolutionstandard),
(max-width: 430px) {
    .nav__container {
        @include size (100vh, 100vw);
        background-color: rgba(0, 14, 26, 0.747);
        border-radius: 3rem;
        display: flex;
        justify-content: center;
    }

    .headerMobile {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        @include size (100px, 100vw);
        left: 146px;
    }

    .title__mobile {
        font-size: 20px;
        position: absolute;
        top: 43px;
        color: white;
    }

    .perfil__user {
        left: 100px;
        position: absolute;
        top: 44px;
        cursor: pointer;
    }

    #user__picture {
        font-size: 10px;
        order: 2;
    }

    /* Agenda mobile */
    .container__agenda {
        background-color: #8dabd1;
        border-radius: 1rem;
        height: 100vh;
        position: absolute;
        display: flex;
        top: 0;
        flex-direction: column;
        overflow: hidden;

        .containerCalendar {
            display: flex;
            text-align: center;
            top: -90px;

            .calendar {
                position: relative;
                top: 155px;
                width: 100%;
            }
        }
    }



    .container_register {
        position: relative;
        display: flex;
        top: -43px;
        width: 100%;

        .agenda_user {
            width: 100%;

            .container__confirm {
                position: relative;
                left: 9px;
            }
        }
    }

    .field_group,
    .combobox__time,
    .combobox__location {
        width: 208px;
    }

    .container__confirm #button__desktop,
    .title_agenda {
        display: none;
    }

    #btn_volver {
        text-decoration: none;
        color: $blanco;
        position: relative;
    }

    /* container de productos para mobile */

    @media screen and (min-width: $resolutionMobileSmall) and (max-width: $resolutionstandard) {
        .contenedorGenerico {
            @include backgroundResolutionMobile($resolutionMobileSmall, $resolutionstandard);
            display: flex;
            justify-content: center;
            overflow-y: auto;

            .menu_container {
                flex-direction: column;
                align-items: center;
                gap: 60px;
                align-items: start;
            }
        }

        .itemMobile,
        .item {
            color: #ececec;
            list-style: none;
        }

        #itemMobile-Salir {
            position: relative;
            top: -28px;
        }

        #icono_img {
            width: 30px;
        }

        .item a,
        .perfil__user a,
        .itemMobile a {
            color: aliceblue;
        }

        .nav_title_first,
        .icon_inicio,
        .carousel__container {
            display: none;
        }
    }
}

@media screen and (min-width: $resolutionstandard) {
    .menu_container {
        position: absolute;
    }
}

// Media queries productos
@media screen and (min-width: 360px) and (max-width: $resolutionstandard) {
    .container {
        position: absolute;
        display: flex;
        top: -10px;
        width: 100%;

        .product {
            .image {
                @include size(60%, 100%);
                display: grid;
                place-content: center;
            }

            .image img {
                padding-top: 10px;
                width: 190px;
            }

            .namePrice {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

            .namePrice h3 {
                padding-top: 30px;
                font-size: 1em;
                text-transform: capitalize;
                color: rgb(27, 27, 27);
            }

            .namePrice span {
                padding-top: 30px;
                font-size: 1.5em;
                color: rgb(27, 27, 27);
            }

            #button__mobile_volver_product {
                position: relative;
            }
        }

        .button_volver {
            background-color: rgba(255, 255, 255, 0.356);
            width: 338px;
            height: 100px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
            border-radius: 1rem;
        }
    }
}

@media screen and (max-width: 900px) {
    #icon_search {
        display: none;
    }
}



@media screen and (min-width: $resolutionstandard) and (min-width: $resolutionstandard) {

    .itemMobile,
    .itemMobile-Salir,
    .TitleMobile,
    .headerMobile,
    #button__mobile_reservar,
    #button__mobile_volver,
    .container_home_mobile,
    -button_volver,
    #button__mobile_volver_product,
    .image_container_mobile {
        display: none;
    }
}

@media screen and (max-width:579px) {
    .nav-footer ul {
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width:976px) {

    hr,
    #row_direction {
        display: none;
    }
}

@media screen and (max-width:$resolutionstandard) {
    .footerContainer {
        display: none;
    }
}


@media screen and (max-width:$resolutionstandard) {

    .contianerGeneric,
    .text-center,
    .nav__sec {
        display: none;
    }
}




// Medias query login/register
@media screen and (max-width: $resolutionstandard) {
    .container__data {
        background-color: rgb(2, 2, 36);
    }

    .formLogin {
        background-color: transparent;

        .user__data {
            .controls {
                width: 300px;

                #icon_log {
                    right: 450px;
                }

                #icon_pass {
                    top: 81px;
                }
            }

            #recordar_datos,
            #recuperarPass,
            #recuperar {
                display: none;
            }

            #recuperarMobile {
                width: 100px;
                height: 30px;
                right: 119px;
            }

            #button_login {
                background-color: none;
                border-radius: 10rem;
            }
        }
    }
}

@media screen and (max-width: $resolutionstandard) {
    .formLogin {
        top: 0;
        min-height: 100vh;
    }
}

@media screen and (min-width: $resolutionstandard) {
    #recuperarMobile {
        display: none;
    }
}

@media(min-width: $resolutionContactForm) {
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contact-wrapper>* {
        padding: 2em;
    }

    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}

// Contacto

@media screen and (max-width: $resolutionstandard),
(max-width: $resolutionContactForm2) {
    .container_contact{
        position: absolute;
        top: -303px;
        iframe{
            display: none;
        }
    }
}


@media screen and (max-width: $resolutionstandard) {
    .footerContainer,
    .container_contact {
        margin-top: 300px;
    }
}