// Variables colores Genericos
$backgroundBody: rgba(11, 26, 44, 0.986);
$fontSizeGrande: 150px;
$blanco:#ffff;
$verde:#11c34c;
$gris:gray;

// Colores Pagina Agenda



// Resoluciones
$resolutionstandard:811px;
$resolutionMobile:810px;
$resolutionNav:768px;
$resolutionNav_option2:810px;
$resolutionFooter:810px;
