// Variables colores Genericos
$backgroundBody: rgba(11, 26, 44, 0.986);
$fontSizeGrande: 150px;
$blanco:#ffff;
$verde:#11c34c;
$gris:gray;

// Resoluciones
$resolutionstandard:810px;
$resolutionMobileSmall:180px;
$resolutionMobileMedium:500px;
