// Variables colores Genericos
$backgroundBody: rgba(11, 26, 44, 0.986);
$fontSizeGrande: 150px;
$blanco:#ffff;
$verde:#11c34c;
$gris:gray;

// Colores Pagina Agenda



// Resoluciones
$resolutionstandard:810px;
$resolutionMobileBig:810px;
$resolutionMobileBig_2:810px;
$resolutionMobileSmall:360px;
$resolutionMobileMedium:500px;
$resolutionNav:810px;
$resolutionFooter:810px;
